* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria-400: #868686;
    --cor-primaria: #1B1B1B;
    --cor-primaria-500: #242424;
    --cor-secundaria: #FCC26B;
    --title-font: 'Road Rage', cursive;
    --subtitle-font: 'Rock Salt', cursive;
    --text-font: 'Roboto Mono', monospace;
}


html, body {
    height: 100%;
    font-family: var(--text-font);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 100vh; 
    overflow: hidden; 
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
    align-items: center;
    padding: 10px 16px; 
}

header .logo {
    width: 150px;
    height: auto;
   
}

header ul {
    display: flex;
    list-style: none;
    gap: 23px ;
}

header ul li img {
    width: 18px;
    height: 18px;
}

/* conteiner principal*/
.container {
    text-align: center;
    padding: 20px 0px;
    position: relative;
    justify-content: center;
}

.container h1 {
    font-family: var(--title-font);
    font-size: 77px; 
    line-height: 48px;
    color: var(--cor-primaria);
    margin-top: 60px;

}
.container span{
    color: var(--cor-primaria-400);
}
.container .subtitle  {
    font-family: var(--subtitle-font);
    font-size: 17px; 
    color: var(--cor-secundaria);
    position: absolute;
    transform: translate(26px, -28px); 
    margin: 0px 18px;


}

.container p {
    padding: 0px 36px;
    font-family: var(--text-font);
    color: var(--cor-primaria-400);
    font-size: 14px; 
    margin-top: 48px;
}

.ghost-section .snippet-letsgo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
}

.ghost-section .text {
    font-family: var(--title-font);
    font-size: 41px;
    margin-top: -626px;
    margin-left: -71px;
    color: black;
    text-shadow: 
        -1px -1px 0 #FFC107, 
        1px -1px 0 #FFC107,  
        -1px 1px 0 #FFC107,  
        1px 1px 0 #FFC107;   
}
.icon-arrow {
    position: absolute;
    margin-top: -617px;
    margin-left: 45px;
}
.ghost-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
    

}

.img-ghost {
    width: 100%;
    max-width: 200px; 
    height: auto;
    margin-top: 34px;
}


 .list-icons ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8px;
    

}
.list-icons{
    display: flex;
 margin: 0px 36px 0px 17px;
 align-items: center;
 gap: 1.6rem;
}

.list-icons strong{
    font-family: var(--text-font);
    font-size: 14px;
    margin-left: 16px;
}


.container-2 {
    padding: 106px 7px;
    display: flex;
    flex-wrap: wrap;
    
}
.container-2 p{
 font-size: 13px;
 text-align: center;
}
.box-margin{
margin-top: 154px;
width: 310px;
height: 402px;
position: relative;
border-radius: 20px;
padding: 0.5rem;
border: 0.15rem solid #dadada;
}
.bird{
position: absolute;
top: -136px;
left: 16px;
}

.list-column {
    max-width: 397px;
    height: 377px;
    background-color: #ffd37c;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }
  
  .row:last-child {
    border-bottom: none;
  }
  
  .label {
    font-size: 14px;
    font-weight: bold;
    color: #4c4c4c;
    text-transform: capitalize;
  }
  
  .value {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }


@media (max-width: 320px) {
    .container h1 {
        font-size: 60px; 
        line-height: 40px;
    }

    .container h2 {
        font-size: 18px;
    }

    .container p {
        font-size: 12px;
    }

    .container .text {
        font-size: 28px;
    }

    .img-ghost {
        max-width: 150px; 
    }
    .container-2 p{
        font-size: 12px;

    }
    .container-2{

    }
}
